.card {
    width: 10.5rem;
    cursor: pointer;
}

.card:hover {
    border: darkgray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.linkCard {
    text-decoration: none;
}